.switches {
  margin-top: 9px;
  li {
    list-style: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #ced4db;
    font-size: 12px;
    line-height: 14px;
    color: #6d7f92;
    text-transform: capitalize;
    padding-left: 24px;
    padding-right: 6px;
    padding-bottom: 15px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20px;
    }
  }
}
